apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "cello-master.fullname" . }}
  labels:
    app: {{ template "cello-master.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ template "cello-master.name" . }}
        release: {{ .Release.Name }}
    spec:
      initContainers:
      - name: init-nfs-files
        image: "{{ .Values.operatorDashboardImage.repository }}:{{ .Values.operatorDashboardImage.tag }}"
        volumeMounts:
        - name: operator-nfs
          mountPath: "/opt/data"
        command: ["cp"]
        args: ["-r", "/app/agent/docker/_compose_files/*", "/opt/data/"]
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.internalPort }}
          livenessProbe:
            httpGet:
              path: /
              port: {{ .Values.service.internalPort }}
          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.service.internalPort }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- if .Values.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
    {{- end }}
      volumes:
      - name: operator-nfs
        hostPath:
          path: {{ .Values.nfs.storePath }}
